<%- include("../partials/header.ejs")%>

<h1>Cohorts</h1>

<div class="card mb-4">
  <div class="card-body">
    <h5><%- cohort.team_name %></h5>
    <p class="card-body">
      <%- cohort.members %>
    </p>
<hr/>
<br>

<p> Method</p>
<form method="get">
  <div class="form-check">
    <input class="form-check-input" type="radio" name="team-count" id="team-count" value="team-count">
    <label class="form-check-label" for="team-count">
      Team Count
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="number-per-team" id="number-per-team" value="number-per-team">
    <label class="form-check-label" for="number-per-team">
      Number Per Team
    
    </label>
  </div>
  <div class="form-group">
    <br>
    <label for="formGroupExampleInput">Quantity</label>
    <input type="text" class="form-control" id="quantity" name="quantity">
  </div>
  <br>
  <form action="/cohorts/<%- cohort.id %>" method="SUBMIT">
    <input type="hidden" name="_method" value="PATCH">
  <button type="submit" class="btn btn-outline-primary btn-lg btn-block">Assign Teams</button>
  
</form>
  
  
    
</div>



<form action="/cohorts/<%- cohort.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" class="btn btn-danger float-end" value="DELETE COHORT">
  <input type="hidden" name="_method" value="PATCH">
</form>
<a class="btn btn-primary" href="./edit" role="button">EDIT COHORT</a>

<% 
const individualmembers = cohort.members.split(",")
const assigned = []
const randomnumber = Math.ceil(Math.random()*individualmembers.length)

%>




   

<% if (method === 'team-count'){ %>

<ul>
  <% for (let i =0; i < individualmembers.length; i++) {
    let numberremaining = (individualmembers.length-1)

    let j = Math.ceil(Math.random()*numberremaining)%>
    if assigned.includes(individualmembers[j]){
      continue;
    }
    <li><%=individualmembers[j]%></li>

    <% assigned.push(individualmembers[j])
    numberremaining--
    
    %>

    <% } %>
</ul>
<% } %>



<% if (method === 'number-per-team'){ %>

  <% } %>











<%- include("../partials/footer.ejs")%>

