<%- include("../partials/header.ejs")%>


<h1>Cohorts</h1>

<div class="card mb-4">
  <div class="card-body">
    <h5><%- cohort.team_name %></h5>
    <p class="card-body">
      <%- cohort.members %>
    </p>
<hr/>
<br>

<p> Method</p>
<form method="get" action="/cohorts/<%-cohort.id%>">
  <% let teamcountchecked = ""
  let numberperteamchecked =""
  if(method ==="team-count"){
    teamcountchecked= "checked"
  }else if(method === "number-per-team"){
    numberperteamchecked="checked"
  } %>
  

  <div class="form-check">
    <input class="form-check-input" type="radio" name="method" id="team-count" value="team-count">
    <label class="form-check-label" for="team-count" <%-teamcountchecked%>>
      Team Count
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="method" id="number-per-team" value="number-per-team">
    <label class="form-check-label" for="number-per-team" <%-numberperteamchecked%>>
      Number Per Team
    
    </label>
  </div>
  <div class="form-group">
    <br>
    <label for="quantity">Quantity</label>
    <input type="number" class="form-control" id="quantity" name="quantity">
  </div>
  <br>
  <form action="/cohorts/<%- cohort.id %>" method="SUBMIT">
    <input type="hidden" name="_method" value="PATCH">
  <button type="submit" class="btn btn-outline-primary btn-block">Assign Teams</button>
  
</form>
  
  
    
</div>




<!-- //shuffles the order of the array -->

<%function shuffler(teamArray) {
    for (let i = 0; i < teamArray.length; i++) {
        let placeholder = teamArray[i]
        let randomtmember =Math.floor(Math.random() * (1 + i))
        teamArray[i] = teamArray[randomtmember]
        teamArray[randomtmember] = placeholder
    }   
    return teamArray
}


function teamCount (members, quantity){
  
    let pool = shuffler(members)
    console.log(pool)
    let teamsize = Math.floor(pool.length / quantity)
    let finalteams = []

    for (let i = 0; i < quantity; i++) {
        // console.log("pool: ",pool)
        // console.log("teamsize: ",teamsize)

        finalteams.push((pool.splice(0,teamsize)))

        console.log("finalteams: ",finalteams)  
    }
    if (pool.length > 0){
        for (let i = 0; i < pool.length; i++) {
            if(pool.length >0){
                let element = pool.splice(0,1).flat().toString()
                finalteams[i].push(element)
            } else {
                break;
            }
            }
        }

        return finalteams
    }


function numberPerTeam(members, quantity){
    let pool = shuffler(members)
    let finalteams = []

    for (let i = 0; i < pool.length; i++) {
        finalteams.push(pool.splice(0, quantity))
        
    }
return finalteams

} %>
   
<%let assignedTeam; %>
<%if(method === 'team-count'){ 
    assignedTeam = cohort.members.split(",") 
    assignedTeam = teamCount(assignedTeam, quantity)
}else if(method === 'number-per-team'){ 
    assignedTeam = cohort.members.split(",") 
    assignedTeam = numberPerTeam(assignedTeam, quantity)
} %>



<%if(assignedTeam){ %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Team Members</th>
    </tr>
  </thead>
  <tbody>
    <% for (let team of assignedTeam){ %>
      <tr>
        <th scope="row"><%-assignedTeam.indexOf(team)+1%></th>
        <td><%-team%></td>
      </tr>
      <%} %>
  </tbody>
</table>
<%  } %>


<form action="/cohorts/<%- cohort.id %>" method="POST">
  <a class="btn btn-primary show-page-btn" href="/cohorts/<%- cohort.id %>/edit" id="edit">EDIT COHORT</a>
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" class="btn btn-danger show-page-btn" value="DELETE COHORT">
  <input type="hidden" name="_method" value="PATCH">
</form>
  

<%- include("../partials/footer.ejs")%>

